{% extends "students/base.html "%}

{% block body %}
<h3 class="m-4">All Students</h3>
<div class="row">
    <div class="col-12">
        {% if students_and_lessons %}
        <div class="card border-dark ms-4 me-4 mb-4">
            <div class="card-header">Student Records</div>
            <div class="card-body">
              <p class="card-text">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                          <tr class="text-uppercase">
                            <th scope="col">Student Number</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Tutoring subject</th>
                            <th scope="col">Last lesson</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                            <!-- STUDENTS WITH ADDED LESSONS -->
                             {% for student, latest_lesson in students_and_lessons %}
                                <tr>
                                    <td>{{ student.student_number }}</td>
                                    <td>{{ student.first_name }}</td>
                                    <td>{{ student.last_name }}</td>
                                    <td>{{ student.telephone_number }}</td>
                                    <td>{{ student.tutor_subject }}</td>
                                    <td>{{ latest_lesson.subject }} || {{latest_lesson.date}}</td>
                                    <td>
                                        <button type="button" class="btn btn-success me-1" href="{% url 'view_student' student.id %}" 
                                        data-bs-toggle="modal" data-bs-target="#myModal{{student.id}}">
                                            <i class="fa-solid fa-circle-info fa-lg"></i>
                                        </button>

                                        <!-- Modal - View Student -->
                                        <div class="modal" id="myModal{{student.id}}" tabindex="-1" aria-labelledby="MyModalLabel1"  aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title">Student: {{ student.first_name }} {{ student.last_name }}</h5>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true"></span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  <ul class="list-unstyled">
                                                    <li>Student Number: <strong>{{ student.student_number }}</strong></li>
                                                    <li>First Name: <strong>{{ student.first_name }}</strong></li>
                                                    <li>Last Name: <strong>{{ student.last_name }}</strong></li>
                                                    <li>Telephone Number: <strong>{{ student.telephone_number }}</strong></li>
                                                    <li>Tutoring Subject: <strong>{{ student.tutor_subject }}</strong></li>
                                                    <li>All lessons: <strong>
                                                      <table class="table">
                                                        <thead>
                                                          <tr class="text-center">
                                                            <th scope="col">Subject</th>
                                                            <th scope="col">Date</th>
                                                            <th scope="col">Payment Status</th>
                                                            <th scope="col">Actions</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                          {% for lesson in student.lessons.all|dictsort:"date" %}
                                                            <tr>
                                                              <th scope="row">{{lesson.subject}}</th>
                                                              <td class="text-center">{{lesson.date}}</td>
                                                              <td class="text-center">
                                                                {%if lesson.paid == True%}
                                                                  <i class="fa-solid fa-check fa-lg"></i>
                                                                {% else %}
                                                                  <i class="fa-solid fa-xmark fa-lg"></i>
                                                                {% endif %}
                                                              </td>
                                                              <td class='text-center d-flex justify-content-center'>
                                                                <a class="btn btn-warning me-1" href="{% url 'edit_lesson' student.id lesson.id %}">
                                                                  <i class="fa-solid fa-pen-to-square fa-lg" style="color: #ffffff;"></i>
                                                                </a>
                                                                <form action="{% url 'delete_lesson' lesson.id %}" method="POST">
                                                                  {% csrf_token %}
                                                                  <button type="submit" class="btn btn-danger">
                                                                      <i class="fa-solid fa-eraser fa-lg"></i>
                                                                  </button>
                                                               </form>
                                                              </td>
                                                            </tr>
                                                          {% endfor %}
                                                        </tbody>
                                                      </table>
                                                  </strong></li>
                                                  </ul>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                          <a class="btn btn-warning me-1" href="{% url 'edit' student.id %}">
                                            <i class="fa-solid fa-pen-to-square fa-lg" style="color: #ffffff;"></i>
                                          </a>

                                          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{student.id}}">
                                            <i class="fa-solid fa-eraser fa-lg"></i>
                                          </button>

                                          <!-- Modal - Delete Student -->
                                          <div class="modal" id="delete{{student.id}}" tabindex="-1" aria-labelledby="MyModalLabel2"  aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title">Student: {{ student.first_name }} {{ student.last_name }}</h5>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true"></span>
                                                  </button>
                                                </div>
                                                <div class="modal-body text-center h5">
                                                  <p>Are you sure?</p>
                                                </div>
                                                <div class="modal-footer">
                                                  <form action="{% url 'delete' student.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="submit" class="btn btn-primary" value="Delete">
                                                  </form>
                                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <a class="btn btn-primary me-1" href="{% url 'add_lesson' student.id %}">
                                            <i class="fa-solid fa-plus fa-lg" style="color: #ffffff;"></i>
                                          </a>
                                    </td>
                                </tr>
                            {% endfor %}

                            <!-- STUDENTS WITHOUT ADDED LESSONS -->
                            {% for student in students_no_lessons %}
                                <tr>
                                    <td>{{ student.student_number }}</td>
                                    <td>{{ student.first_name }}</td>
                                    <td>{{ student.last_name }}</td>
                                    <td>{{ student.telephone_number }}</td>
                                    <td>{{ student.tutor_subject }}</td>
                                    <td class="text-center">---</td>
                                    <td>
                                        <button type="button" class="btn btn-success me-1" href="{% url 'view_student' student.id %}" 
                                        data-bs-toggle="modal" data-bs-target="#myModal{{student.id}}">
                                            <i class="fa-solid fa-circle-info fa-lg"></i>
                                        </button>

                                        <!-- Modal - View Student -->
                                        <div class="modal" id="myModal{{student.id}}" tabindex="-1" aria-labelledby="MyModalLabel1"  aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title">Student: {{ student.first_name }} {{ student.last_name }}</h5>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true"></span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  <ul class="list-unstyled">
                                                    <li>Student Number: <strong>{{ student.student_number }}</strong></li>
                                                    <li>First Name: <strong>{{ student.first_name }}</strong></li>
                                                    <li>Last Name: <strong>{{ student.last_name }}</strong></li>
                                                    <li>Telephone Number: <strong>{{ student.telephone_number }}</strong></li>
                                                    <li>Tutoring Subject: <strong>{{ student.tutor_subject }}</strong></li>
                                                    <li>All Subjects Of Lessons: <strong>---</strong></li>
                                                  </ul>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                          <a class="btn btn-warning me-1" href="{% url 'edit' student.id %}">
                                            <i class="fa-solid fa-pen-to-square fa-lg" style="color: #ffffff;"></i>
                                          </a>

                                          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{student.id}}">
                                            <i class="fa-solid fa-eraser fa-lg"></i>
                                          </button>

                                          <!-- Modal - Delete Student -->
                                          <div class="modal" id="delete{{student.id}}" tabindex="-1" aria-labelledby="MyModalLabel2"  aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title">Student: {{ student.first_name }} {{ student.last_name }}</h5>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true"></span>
                                                  </button>
                                                </div>
                                                <div class="modal-body text-center h5">
                                                  <p>Are you sure?</p>
                                                </div>
                                                <div class="modal-footer">
                                                  <form action="{% url 'delete' student.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="submit" class="btn btn-primary" value="Delete">
                                                  </form>
                                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <a class="btn btn-primary me-1" href="{% url 'add_lesson' student.id %}">
                                            <i class="fa-solid fa-plus fa-lg" style="color: #ffffff;"></i>
                                          </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                </div>
              </p>
            </div>
        </div>
        {% else %}
        <h5 class="alert alert-primary ms-4 me-4 text-center">NO STUDENT RECORDS</h5>
        {% endif %}
    </div>
</div>
{% endblock %}